[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/hugo-ficurinia"]
	path = themes/hugo-ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia
