[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
